cluster.name: {{cluster_name}}
node.name: {{node_name}}
network.host: {{network_host}}
http.port: {{http_port}}
path.data: {{path_data}}
path.logs: {{log_dir}}
http.cors.enabled: true
http.cors.allow-origin: '*'
bootstrap.memory_lock: false
bootstrap.system_call_filter: false
discovery.zen.ping.unicast.hosts: {{discovery_zen_ping_unicast_hosts}}
node.master: {{node_master}}



